

.main{
width: 100%;
height: 650px;
background-color:plum;
display: flex;
align-items:center;
flex-direction: column;
justify-content:space-around;



}

.child{

    width: 1000px;
    height: 500px;
    background-color: white;
    display: flex;
    margin: 1px;
    box-shadow: 3px 6px 5px 5px  rgb(138, 133, 133);
    
  
}





.child1{

    width: 50px;
    height: 500px;
    background-color:darkgrey;
    display: flex;
    flex-direction:column;
    align-items: center;

  
    
}



.items1{

    width: 50px;
    height: 50px;
    background-color:violet;
    border: 1px solid #fff;
    
}



.items2{

    width: 50px;
    height: 50px;
    background-color:#fff;

}

.items3{

    width: 50px;
    height: 50px;
    background-color:#fff;

}

/* 
Parents of icons */
.child2{

    width:1600px;
    height: 520px;
    background-image: url("cv.jpg");
    opacity: 90%;
    position: relative;
    top: -10px;
    box-shadow: 3px 6px 5px 5px  rgb(197, 193, 193);
    display: flex;
    align-items: center;
    flex-direction:column-reverse;  
}

/* parents end of css */


/* naam ki heading is ma ha */

.child2_items2{

    width: 210px;
    height: 60px;
    /* background-color:#fff; */
      
}

/* naam end css */

/* icons start css */
.child2_items1{

    width: 210px;
    height: 50px;
    /* background-color:#fff; */
    margin: 3px;
    display: flex;
    flex-direction: row;
    
}


.child2_items3{

    width: 50px;
    height: 50px;
    /* background-color:rgb(233, 6, 6); */
    margin: 1px;
    
}
.child2_items4{

    width: 50px;
    height: 50px;
    /* background-color:rgb(233, 6, 6); */
    margin: 1px;
}

.child2_items5{

    width: 50px;
    height: 50px;
    /* background-color:rgb(233, 6, 6); */
    margin: 1px;
}
.child2_items6{

    width: 50px;
    height: 50px;
    /* background-color:rgb(233, 6, 6); */
    margin: 1px;
}

/* icons css end */

.child3_items1{
        width: 300px;
        height: 50px;
        background-color: #fff;
        margin: 40px;
}



.child3_items2{
    width: 400px;
    height: 50px;
    background-color:#fff;
    float: right;
    position: relative;
    top:-18%;
    left: -9%;

}

h3{
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 3px;
    
}

.child3_items2 h3{

  margin-left: 50%;
}


.child3 p{
     text-align: justify; 
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight:330;
     margin: 30px;
     color: gray;

}

.child3 h2{
   
    text-align: justify; 
     font-size: 30px;
     font-family:Arial, Helvetica, sans-serif;
     font-weight: 700;
     margin: 45px;

}